.dropdown-menu-base {
  position: absolute;
  margin: 0;
}

.dropdown,
.dropend,
.dropup {
  display: inline-block;
}

.dropdown {
  min-width: 10rem; /*
    min-width for dropdowns is set as --bs-dropdown-min-width defaults to 10rem
    var(--bs-dropdown-min-width) doesn't work :( TODO: investigate
  */
}
.dropdown.dropend, .dropdown.dropstart {
  min-width: 0;
}

.dropdown-menu-direction-down {
  top: 100%;
  left: 0px;
  margin-top: 0.15rem;
}

.dropdown-menu-direction-up {
  bottom: 100%;
  left: 0px;
  margin-bottom: 0.15rem;
}

.dropdown-menu-direction-start {
  top: 0;
  right: 100%;
  margin-right: 0.15rem;
}

.dropdown-menu-direction-end {
  top: 0;
  left: 100%;
  margin-left: 0.15rem;
}
